@keyframes bounceInLeft {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}